.backgound{
    background-color: white;
}
.logo{
    position: absolute;
    top: 50px;
    left: 700px;
}
.signin{
    position: absolute;
    top: 80px;
    left: 600px;
    font-size: 48px;
    font-family: Slack-Larsseit,Helvetica Neue,Helvetica,Segoe UI,Tahoma,Arial,sans-serif;
}
.moresigin{
    position: absolute;
    top: 160px;
    left: 560px;
    font-size: 18px;
    color: darkslategrey;
    font-family:Arial, Helvetica, sans-serif;
}
.google{
    position: absolute;
    left: 580px;
    top: 220px;
    width: 360px;
    height: 40px;
    background-color: white;
    font-size: 14pt;
    font-family: Slack-Larsseit,Helvetica Neue,Helvetica,Segoe UI,Tahoma,Arial,sans-serif;
    border-color: lightgray;
}
.apple{
    position: absolute;
    left: 580px;
    top: 270px;
    width: 360px;
    height: 40px;
    background-color: white;
    font-size: 14pt;
    font-family: Slack-Larsseit,Helvetica Neue,Helvetica,Segoe UI,Tahoma,Arial,sans-serif;
    border-color: lightgrey;
}
.barthing{
    position: absolute;
    top: 320px;
    right: 660px;
}
.email{
    position: absolute;
    top: 380px;
    left: 580px;
    width: 360px;
    height: 40px;
    font-size: 13pt;
}
.emailbutton{
    position: absolute;
    top: 460px;
    left: 580px;
    width: 368px;
    height: 40px;
    background-color: purple;
    color: white;
    font-size: 13pt;
    font-weight: bold;
}
.greything{
    position: absolute;
    top: 530px;
    left: 560px;
}
.greytext{
    position: absolute;
    top: 530px;
    left: 600px;
}
.bottompage{
    position: absolute;
    top: 700px;
    left: 590px;
}
.bottompage2{
    position: absolute;
    top: 700px;
    left: 720px;
}
.bottompage3{
    position: absolute;
    top: 700px;
    left: 830px;
}
.bottompage:hover{
    text-decoration: underline;
    cursor: pointer;
}
.bottompage2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.bottompage3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.apple:hover{
    cursor: pointer;
}
.google:hover{
    cursor: pointer;
}
.emailbutton:hover{
    cursor: pointer;
}
.topright{
    position: absolute;
    top: 15px;
    right: 10px;
}
.applelogo{
    position: absolute;
    right: 860px;
    top: 272px;
}
.googlelogo{
    position: absolute;
    right: 865px;
    top: 222px;
}